* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0;
}

ion-header ion-toolbar:first-of-type {
    padding-top: 30px;
}

ion-toolbar {
    padding: 0 10px 10px;
    ion-back-button {
        color: darkgrey;
        width: 5px;
        height: 5px;
    }
}

ion-content .notifications .notification {
    background: var(--ion-secondary-color);
    color: var(--light);
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;

    &.checked {
        background: var(--ion-primary-color);
    }

    .notification-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid var(--light);
        margin-right: 20px;
    }
    .notification-detail {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .notification-temp {
        font-weight: 400;
        font-style: italic;
        color: lightgrey;
    }
}