<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" text="" icon="arrow-back-outline"></ion-back-button>
    <!-- <ion-icon [routerLink]="['/welcome']" name="arrow-back-outline"></ion-icon> -->
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- generate 5 fake notifications -->

  <section class="notifications">
    <div class="notification">
      <img class="notification-image" src="" alt="">
      <div>
        <p class="notification-detail">Ajourd'hui c'est la saison des fraises</p>
        <p class="notification-temp">9 heures</p>
      </div>
    </div>
    <div class="notification">
      <img class="notification-image" src="" alt="">
      <div>
        <p class="notification-detail">Ajourd'hui c'est la saison des fraises</p>
        <p class="notification-temp">9 heures</p>
      </div>
    </div>
    <div class="notification checked">
      <img class="notification-image" src="" alt="">
      <div>
        <p class="notification-detail">Ajourd'hui c'est la saison des fraises</p>
        <p class="notification-temp">9 heures</p>
      </div>
    </div>
    <div class="notification checked">
      <img class="notification-image" src="" alt="">
      <div>
        <p class="notification-detail">Ajourd'hui c'est la saison des fraises</p>
        <p class="notification-temp">9 heures</p>
      </div>
    </div>
    <div class="notification checked">
      <img class="notification-image" src="" alt="">
      <div>
        <p class="notification-detail">Ajourd'hui c'est la saison des fraises</p>
        <p class="notification-temp">9 heures</p>
      </div>
    </div>

  </section>

  <!-- generate 5 fake notifications -->
</ion-content>
