@import '../../theme/pienu-variables.scss';

.calendrier-toolbar-custom {
    margin: 20px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-month {
    background: var(--ion-primary-color);
    color: var(--light);
    padding: var(--ion-padding);
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}
ion-button[shape=circle] {
    --border-radius: 70%;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 15px;
    bottom: 0px;
    --background: var(--ion-secondary-color) ;
}