<ion-header class="calendrier-header">
  <ion-toolbar>
    <div class="calendrier-toolbar-custom">
      <ion-menu-button type="button"></ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="current-month">  
    {{ currentMonth }}
  </p>
  <calendar id="myCalendar"
  locale="fr-FR"
  calendarMode="month" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1"
  [currentDate]="currentDate"
  (onTitleChanged)="onViewTitleChanged($event)">
</calendar>
</ion-content>
