@import '../../theme/pienu-variables.scss';

.toolbar-custom {
    padding: 20px 10px 0;
}

.slide {
    height: 300px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.Nbutton{
   text-align: center;
   
}

ion-button[shape=circle] {
    --border-radius: 70%;
    width: 56px;
    height: 56px;
}

ion-button {
    --background: var(--ion-secondary-color);
}