.slide {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 142%;
    margin-top: 120px;
    }
.slide-todolist{
    width: 18em;
    
}
.titletodo{
   margin-left: 21px;
   margin-top: 110px;
}

.Nbutton{
   text-align: center;
}

.back{
    margin-left: 15.3em;
    margin-top: 1em;
}

ion-button[shape=circle] {
    --border-radius: 70%;
    width: 56px;
    height: 56px;
}
