<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-menu-button slot="start" type="button"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="slide">
    <img src="assets/Image/slide2.png">
  </div>

  <div class="titletodo">
    <div class="titleh1">
      <h1>To do list</h1>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error at distinctio.</p>

    <div class="Nbutton">
      <ion-button routerLink="/task" >VOIR</ion-button>
    </div>
  </div>

  <div class="back">
    <ion-button routerLink="/planning" shape="circle" (click)="buttonClicked()">
      <ion-icon name='arrow-back-circle-sharp'></ion-icon>
    </ion-button>
  </div>
</ion-content>