@import "../../theme/pienu-variables.scss";

.title {
 display: flex;
 flex-direction: column;
 padding-top: 20px;
 align-items: center;
 color: var(--light);
 background-color: var(--ion-primary-color) ;

}

ion-button[shape=circle] {
    --border-radius: 70%;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 15px;
    bottom: 15px;
    --background: var(--ion-secondary-color) ;
}


