<ion-content>


<div class="title">
  <h1>To do list</h1>
    <h2>Avril</h2>
</div>

<div class="test">
<ion-list>
  <ion-item>
    <ion-label>{{monthlyTask.descritpion}}</ion-label>
    <ion-checkbox color="primary"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Arroser les courgettes</ion-label>
    <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Semer les fraises</ion-label>
    <ion-checkbox checked="false"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Mettre du compost</ion-label>
    <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>
</ion-list>
</div>
  <ion-item>
    <ion-label>Semer les fraises</ion-label>
    <ion-checkbox checked="false"></ion-checkbox>
  </ion-item>
  
<div class="back">
  <ion-button routerLink="/todolist" shape="circle" (click)="buttonClicked()">
    <ion-icon name='arrow-back-circle-sharp'></ion-icon>
  </ion-button>
  </div>
</ion-content>
