<ion-app class="ion-side-menu">
  <ion-menu side="start" menuId="first" contentId="content">
    <ion-header>
      <div class="user-section">
        <img src="/assets/images/menu-background.jpg" alt="" class="menu-background-img">
        <div class="user-preview-information">
          <img src="/assets/images/gto-pp.jpg" class="user-profile-img" alt="">
          <h4>{{user.mail}}</h4>
          <p>@quentoki</p>
        </div>
      </div>
    </ion-header>

    <ion-content class="menu-content">
        <ion-menu-toggle>
          <ul>
            <li [routerLink]="['/welcome']"><ion-icon name="home-outline"></ion-icon>Accueil</li>
            <li><ion-icon name="people-outline"></ion-icon>Réunions</li>
            <li [routerLink]="['/todolist']"><ion-icon name="people-outline"></ion-icon>Réunions</li>
            <li [routerLink]="['/planning']"><ion-icon name="calendar-outline"></ion-icon>Évènements</li>
            <li [routerLink]="['/notification']"><ion-icon name="notifications-outline"></ion-icon>Notifications</li>
            <li><ion-icon name="file-tray-full-outline"></ion-icon>Contact</li>
          </ul>
          
          <p>A propos</p>
          
          <p><li  (click)="deconexion()">Se déconnecter</li></p>
        </ion-menu-toggle>
      </ion-content>
  </ion-menu>
  <ion-router-outlet Id="content"></ion-router-outlet>
</ion-app>