<!-- <ion-app class="welcome-app"> -->

  <ion-content fullscreen class="welcome-content">

    <img src="/assets/images/welcome-background.jpg" alt="" class="welcome-background-img">

    <ion-header class="welcome-header">
      <ion-toolbar>
        <div class="toolbar-custom">
          <ion-menu-button type="button"></ion-menu-button>
          <p>SKIP</p>
        </div>
      </ion-toolbar>
    </ion-header>

    <div class="welcome-message">
      <p>Une app pour simplifier la vie au potager</p>
      <h3>Bienvenue sur <br><span>PIENU</span></h3>
    </div>

    <div class="welcome-start-button">
      <p>COMMENCER <ion-icon name="arrow-forward-outline"></ion-icon></p>
    </div>

  </ion-content>

<!-- </ion-app> -->