<ion-content class="auth-form" >
  <ion-grid>
    <ion-row>
      
      <ion-col align-self-center><br><br><br><br><br><br><br><br><br><br><br><br>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>

        <ion-button [routerLink]="['/planning']" expand="block" color="danger">planning</ion-button>

        <ion-button [routerLink]="['/welcome']" expand="block" color="danger">Welcome page</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
